# PLOTTING GRAPHS IN BULK

In [4]:
import os
import pandas as pd
import plotly.express as px
import plotly.offline as pyo

df = pd.read_csv('gdp.csv')
df.head()

  Country Name Country Code  Year         Value
0   Arab World          ARB  1968  2.576068e+10
1   Arab World          ARB  1969  2.843420e+10
2   Arab World          ARB  1970  3.138550e+10
3   Arab World          ARB  1971  3.642691e+10
4   Arab World          ARB  1972  4.331606e+10

In [3]:
df['Country Name'].nunique()

256

### GDP of Each Country

In [5]:
os.mkdir('GDP Individual')

for country_name in df['Country Name'].unique():

    df_pr = df[df['Country Name'] == country_name]

    fig = px.line(df_pr, x = 'Year', y = 'Value', title = country_name + 'GDP Analysis', range_y = [])
    pyo.plot(fig, filename = country_name + '.html', auto_open = False)

### GDP of Each Country WRT *80T

In [ ]:
os.mkdir('GDP Individual WRT World Range')

for country_name in df['Country Name'].unique():

    df_pr = df[df['Country Name'] == country_name]

    fig = px.line(df_pr, x = 'Year', y = 'Value', title = country_name + 'GDP Analysis', range_y = [0,8000000000000])
    pyo.plot(fig, filename = country_name + '.html', auto_open = False)